.App {
  background: linear-gradient(45deg, #ff6b6b, #3a1c71);
  background-size: 150% 150%;
  animation: gradient-animation 20s ease infinite;
  background-repeat: no-repeat;
  border: 3px solid #333;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.itunes-logo {
  width: 200px;
  margin-top: 20px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}